<h1>Listing heads</h1>

<table>
  <thead>
    <tr>
      <th>Placas</th>
      <th>Economico</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heads.each do |head| %>
      <tr>
        <td><%= head.placas %></td>
        <td><%= head.economico %></td>
        <td><%= head.brand %></td>
        <td><%= head.color %></td>
        <td><%= head.year %></td>
        <td><%= link_to 'Show', head %></td>
        <td><%= link_to 'Edit', edit_head_path(head) %></td>
        <td><%= link_to 'Destroy', head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Head', new_head_path %>
