<%= simple_form_for(@service, html: {:class =>''}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :shipment,  as: :integer, input_html: {class:'form-control'} %>

    <%= f.input :departure_date, as: :datetime_picker, input_html: {class:'form-control'} %>

 
  <div class="field">

    <%= f.association :vehicle, label_method: :economic, value_method: :id, include_blank: true %>
  </div>
  
    <h2>Origen</h2>
  <div class="field">

    <%= f.input :departure_id, collection: Location.all %>
  </div>
  
  <div class="field">

    <%= f.input :latitude, as: :float%>
  </div>
  <div class="field">

    <%= f.input :longitude, as: :float%>
  </div>
  <h2>Destino</h2>
  <div class="field">

    <%= f.input :arrival_id, collection: Location.all %>
  </div>
  
  <div class="field">

    <%= f.input :latitude_dest, as: :float%>
  </div>
  <div class="field">

    <%= f.input :longitude_dest, as: :float%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
