<%= simple_nested_form_for(@service, html: {:id=>'pad-wrapper',:class =>'form-page'},defaults: { wrapper_html: { class: 'field-box' } }) do |f| %>
<div class="row form-wrapper">
	<div class="col-md-7 column">
  <% if @service.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class"col-md-7">
		<%= f.input :shipment,  as: :integer, input_html: {class:'form-control'} %>
		
        <div class="field-box">
            <label>Tipo de Servicio</label>
            <div class="col-md-4">
                <label class="radio">
					<%= f.collection_radio_buttons :service_type, [[0, ' Sencillo'] ,[1, ' Doble']], :first, :last %>
                 
                </label>

            </div>                                
        </div>
		
		
	</div>
		
	
   	 	<%= f.input :departure_date,:as => :datetime_picker,input_html: {class:'form-control'} %>
	
	
	<script type="text/javascript">
	    $(function () {
	        $('#service_departure_date1').datetimepicker();
	    });
	</script>
<h3>Vehículos</h3>

		<%= f.simple_fields_for :vehicles,defaults:{ input_html: {class:'form-control'},wrapper_html:{class:'field-box'}} do |v| %>
		<div class="well">
			<%= v.input :plate %>
			<%= v.input :economic %>
			<%= v.input :container_type %>
			<%= v.input :color %>
			<%= v.input :features %>
			<%= v.input :brand %>
			<%= v.input :year %>				
			<%= v.input :vehicle_type %>	
			<%= v.link_to_remove "Eliminar vehículo" %>
		<% end %>
</div>		
			<%= f.link_to_add "Agregar vehìculo",:vehicles %>								



	<%= f.simple_fields_for :locations,defaults:{ input_html: {class:'form-control'},wrapper_html:{class:'field-box'}} do |l| %>
	<div class="panel panel-default">
		<h3>
		ORIGEN
	</h3>
		<%= l.input :cedis %>
		<%= l.link_to_remove "Eliminar cedis" %>
		<h3>
		DESTINO
	</h3>

		<%= l.input :cedis %>
		<%= l.link_to_remove "Eliminar cedis" %>
	</div>
	<% end %>

  
  <div class="actions">
    <%= f.button :submit, class:'btn-flat' %>
  </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
    $(function () {

        // add uniform plugin styles to html elements
        $("input:checkbox, input:radio").uniform();

        // select2 plugin for select elements
        $(".select2").select2({
            placeholder: "Select a State"
        });

        // datepicker plugin
        $('.input-datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>