<!-- Jumbotron -->

<!-- orders table -->
<div class="table-wrapper orders-table section">
    <div class="row head">
        <div class="col-md-12">
            <h4>Servicios</h4>
        </div>
    </div>

    <div class="row filter-block">
        <div class="pull-right">
            <div class="btn-group pull-right">
                <button class="glow left large">Todos</button>
                <button class="glow middle large">Pendientes</button>
                <button class="glow right large">Completados</button>
            </div>
            <input type="text" class="search order-search" placeholder="Buscar un servicio.." />
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">
                        Shipments
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>
                        Fecha de Salida
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>
                        Destino
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>
                        Status
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>
                        Usuario
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>
                        Opciones
                    </th>

                </tr>
            </thead>
            <tbody>
                <!-- row -->
				
			    <% @services.each do |service| %>
          <% ships= service.shipments.collect{|p| p.shipment}%>
			      <tr class="first">
			        <td> #<%= ships.join(" #") %> </td>
			        <td><%= service.departure_date %></td>
			        <td><%= service.arrival_id %></td>
						<td><span class="<%= service.state_index==4 ? "label label-success":"label label-info" %>" class="label label-info"><%= service.aasm.human_state %></span>              
			        
			        <td><%= service.user.email %></td>
			        <td>
                <%= link_to 'Show', service, class:"btn btn-warning btn-xs" %>
                <%= link_to 'Edit', edit_service_path(service),  class:"btn btn-warning btn-xs"%>
                <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs" %>
						</td>

			      </tr>
			    <% end %>
				
            </tbody>
        </table>
    </div>
</div>
<!-- end orders table -->



<%= link_to '+ Servicio', new_service_path,class:"btn-flat success new-product" %>
