<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div id="fuelux-wizard" class="wizard row">
            <ul class="wizard-steps">
                <li data-target="#step1" class="active">
                    <span class="step">1</span>
                    <span class="title">Salida de <br> Origen</span>
                </li>
                <li data-target="#step2">
                    <span class="step">2</span>
                    <span class="title">En <br> tránsito</span>
                </li>
                <li data-target="#step3">
                    <span class="step">3</span>
                    <span class="title">Llegada a <br> destino</span>
                </li>
                <li data-target="#step4">
                    <span class="step">4</span>
                    <span class="title">GPS <br> recuperado</span>
                </li>
            </ul>                            
        </div>
        <div class="step-content">
            <div class="step-pane active" id="step1">
                <%= image_tag "carga_cajas.png" %>

            </div>
            <div class="step-pane" id="step2">
				 <%= image_tag "sobre_rueda.png" %>
    
            </div>
            <div class="step-pane" id="step3">
               <%= image_tag "en_tiempo.png" %>
            </div>
            <div class="step-pane" id="step4">
              <%= image_tag "protege.png" %>
            </div>
        </div>
        <div class="wizard-actions">
            <button type="button" disabled class="btn-glow primary btn-prev"> 
                <i class="icon-chevron-left"></i> Prev
            </button>
            <button type="button" class="btn-glow primary btn-next" data-last="Finish">
                Next <i class="icon-chevron-right"></i>
            </button>
            <button type="button" class="btn-glow success btn-finish">
                ¡Servicio finalizado!
            </button>
        </div>
    </div>
</div>


<p>
  <strong>Shipment:</strong>
  <%= @service.shipment %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @service.departure_date %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @service.arrival_date %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @service.release_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @service.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @service.longitude %>
</p>


<p>
  <strong>Head:</strong>
  <%= @service.vehicle_id %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @service.departure_id %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @service.arrival_id %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
<script type="text/javascript">
    $(function () {
        var $wizard = $('#fuelux-wizard'),
            $btnPrev = $('.wizard-actions .btn-prev'),
            $btnNext = $('.wizard-actions .btn-next'),
            $btnFinish = $(".wizard-actions .btn-finish");

        $wizard.wizard().on('finished', function(e) {
            // wizard complete code
        }).on("changed", function(e) {
            var step = $wizard.wizard("selectedItem");
            // reset states
            $btnNext.removeAttr("disabled");
            $btnPrev.removeAttr("disabled");
            $btnNext.show();
            $btnFinish.hide();

            if (step.step === 1) {
                $btnPrev.attr("disabled", "disabled");
            } else if (step.step === 4) {
                $btnNext.hide();
                $btnFinish.show();
            }
        });

        $btnPrev.on('click', function() {
            $wizard.wizard('previous');
        });
        $btnNext.on('click', function() {
            $wizard.wizard('next');
        });
    });
</script>