<p id="notice"><%= notice %></p>

<h4>
  <strong>Shipment:</strong>
  #<%= @service.shipments.collect{|p| p.shipment}.join(" #") %>
</h4>

<h4>
  <strong>Status:</strong>

  <span id="status">
    <%= @service.aasm.human_state%>
  </span>

</h4>



<div class="row">
    <div class="col-md-12 col-xs-12">
        <div id="fuelux-wizard" class="wizard row">
            <ul class="wizard-steps">
                <li data-target="#step1" class="<%= @service.state_index>=1 ? "active":"" %>">
                    <span class="step">1</span>
                    <span class="title">Salida de <br> Origen</span>

                </li>
                <li data-target="#step2" class="<%= @service.state_index>=2 ? "active":"" %>" >
                    <span class="step">2</span>
                    <span class="title">En <br> tránsito</span>
                </li>
                <li data-target="#step3" class="<%= @service.state_index>=3 ? "active":"" %>">
                    <span class="step">3</span>
                    <span class="title">Llegada a <br> destino</span>
                </li>
                <li data-target="#step4" class="<%= @service.state_index>=4 ? "active":"" %>">
                    <span class="step">4</span>
                    <span class="title">GPS <br> recuperado</span>
                </li>
            </ul>                            
        </div>
        <div class="step-content">
            <div class="<%= @service.state_index==1 ? "step-pane active":"step-pane" %>" id="step1">

				<div class="row">					
			        <div class="col-lg-2">
						<%= image_tag "carga_cajas.png" %>

			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-3">
						<div class="panel panel-default">
						  <div class="panel-body">
							  <%= image_tag "icon_checklist.png"%>
								<p>
								<strong>Departure date:</strong>
								<%= @service.departure_date %>
								<p>
								<strong>Origen:</strong>
								</p>
								<p>
								<strong>Destino:</strong>
								</p>


	  						</div>
  						</div>
			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-4">
						<div class="panel panel-default">
						  <div class="panel-body">
						<img src="/assets/contact-profile.png" alt="contact" class="avatar img-circle" />
		                    <h3 class="name">Alejandra Galván Castillo</h3>
		                    <span class="area">Operador</span>
							<div class="panel-footer">
								<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
							</div>
						</div>
					</div>
			        </div><!-- /.col-lg-4 -->					
			      </div><!-- /.row -->
				
            </div>
            <div class="<%= @service.state_index==2 ? "step-pane active":"step-pane" %>" id="step2">
				<div class="row">					
			        <div class="col-md-2">
				 <%= image_tag "sobre_rueda.png" %>
			 	</div>
		        <div class="col-lg-5">
					<div class="panel panel-default">
						<div class="panel-body">
							<% if 0 %>
								<%= image_tag "icon_truck.png"%>
							<% else %>
								<%= image_tag "icon_truck.png" %>
								<%= image_tag "icon_truck.png" %>
							<% end %>
              <br>
							<strong>Servicio:</strong>
							<%= @service.service_type==1?"sencillo": "doble"%>
							

							<div class="row">							

                <% @service.shipments.collect do |s| %>
                <div class="col-md-6">                
                <strong>Shipment #:</strong>
                <%= s.shipment %>
                <% s.vehicles.select([:plate,:economic,:color,:brand,:vehicle_type,:seal_number]).collect  do |v|%>
								<div class="well">

                  <% if v.vehicle_type==2 %>
										<strong>Sellos de Caja:</strong>
										<%= v.seal_number %><br>
                  <% end %>
										<strong>Placa:</strong>
										<%= v.plate %><br>
										<strong>Económico:</strong>
										<%= v.economic %><br>
										<strong>Color:</strong>
										<%= v.color %><br>
										<strong>Marca:</strong>
										<%= v.brand %><br>
                    <% if v.vehicle_type==2 %>
  										<strong>Sellos de Caja:</strong>
  										<%= v.seal_number %><br>
                    <% end %>
                </div>
							<% end %>
              <% s.devices.select([:key]).collect  do |d|%>

                <br>  
									<strong># Portátil:</strong>
									<%= d.key %><br>


						<% end %>
							</div>

              <% end %>
							</div>
						</div>
					</div>
		        </div>
		        <div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<%= image_tag "icon_spot.png"%>

			                    <h5>Ubicación</h5>
			                    <iframe width="300" height="133" scrolling="no" src="https://maps.google.com.mx/?ie=UTF8&amp;t=m&amp;ll=19.715081,-155.071421&amp;spn=0.010746,0.025749&amp;z=14&amp;output=embed"></iframe>
			                    


						</div>
					</div>
		        </div><!-- /.col-lg-4 -->					
		      </div><!-- /.row -->
    
            </div>
            <div class="<%= @service.state_index==3 ? "step-pane active":"step-pane" %>" id="step3">
               
			<div class="row">					
		        <div class="col-lg-3">
					<%= image_tag "en_tiempo.png" %>

		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-3">
					<div class="panel panel-default">
					  <div class="panel-body">
						  <%= image_tag "icon_checklist.png"%>
							<p>
							<strong>Fecha/Hora de Llegada:</strong>
							<%= @service.arrival_date %>
							</p>
							<p>
							<strong>Lugar destino:</strong>
							</p>
							<p>
							<strong>Duración del trayecto:</strong>
							</p>


  						</div>
 						</div>
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-3">
					<div class="panel panel-default">
					  <div class="panel-body">
						  <%= image_tag "icon_service.png"%>
							<p>
								<strong>Contactar al custodio:</strong>
								<%= @service.user.name %>
                <%= @service.user.last_name1 %>

							</p>
							<p>
								<strong>Teléfono:</strong>
								<%=  %>
								<span class="area">Teléfono</span>
							</p>
							<p>
								<strong>e-Mail:</strong>
								<%= @service.user.email %>

							</p>


					</div>
				</div>
		        </div><!-- /.col-lg-4 -->					
		      </div><!-- /.row -->
			   
            </div>
            <div class="<%= @service.state_index==4 ? "step-pane active":"step-pane" %>" id="step4">
				<div class="row">					
			        <div class="col-lg-4">
						<%= image_tag "protege.png" %>

			        </div><!-- /.col-lg-4 -->
			        <div class="col-lg-3">
						<div class="panel panel-default">
						  <div class="panel-body">
							  <%= image_tag "icon_scan.png"%>
								<p>
								<strong>Unidad GPS:</strong>
								#<%= @service.devices.map(&:key).join(" #") %>
								</p>
								<p>
								<strong>Fecha de Liberación:</strong>
                <%= @service.release_date %>
								</p>
								<div class="panel-footer">


								</div>

	  						</div>
	 						</div>
			        </div><!-- /.col-lg-4 -->
			  
			  
			  
            </div>
        </div>
        <div class="wizard-actions">
            
            <button type="button" class="<%= @service.state_index==4 ? "hidden":"btn btn-info btn-next" %>" data-last="Finish" data-id="<%= @service.id %>">
                <%= @service.read_next_event %> <i class="icon-chevron-right"></i>
            </button>
            <button type="button" class="btn-glow success btn-finish">
                ¡Servicio finalizado!
            </button>
        </div>
    </div>
</div>



<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
<script type="text/javascript">
    $(function () {
        var $wizard = $('#fuelux-wizard'),
            $btnPrev = $('.wizard-actions .btn-prev'),
            $btnNext = $('.wizard-actions .btn-next'),
            $btnFinish = $(".wizard-actions .btn-finish");

        $wizard.wizard().on('finished', function(e) {
            // wizard complete code
        }).on("changed", function(e) {
            var step = $wizard.wizard("selectedItem");
            // reset states
            $btnNext.removeAttr("disabled");
            //$btnPrev.removeAttr("disabled");
            $btnNext.show();
            $btnFinish.hide();

            if (step.step === 1) {
                $btnPrev.attr("disabled", "disabled");
            } else if (step.step === 4) {
                $btnNext.hide();
                $btnFinish.show();
            }
        });

        $btnPrev.on('click', function() {
            $wizard.wizard('previous');
        });
        $btnNext.on('click', function() {
            $wizard.wizard('next');
        });
    });
</script>