<!DOCTYPE html>
<html>
<head>
  <title>Webship</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%# google_maps_api %>
  <%# track_id_to_js(@service.id) if @service %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'layouts/navbar' if user_signed_in? %>



<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
    <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <%= msg %>
  </div>
<% end %>

<%= yield %>


<!-- Site footer -->

</body>
</html>
